################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearningFSharp/obj/Debug/LearningFSharp.pdb
